In [1]:
#import os
#os.environ["OPENAI_API_KEY"] = "Update the openai key here"

In [2]:
from langchain_openai import OpenAIEmbeddings

In [3]:
embeddings = OpenAIEmbeddings()

In [4]:
import pandas as pd
df = pd.read_excel('words.xlsx')
print(df)

       Words
0       Lily
1    Jasmine
2  Sunflower
3      Lotus
4     Tennis
5   Elephant
6      Tiger
7        Dog
8        Bat
9       Ball

In [5]:
df['Embedding'] = df['Words'].apply(lambda x: embeddings.embed_query(x))
df.to_csv('WordEmbeddings.csv')

In [7]:
new_df = pd.read_csv('WordEmbeddings.csv')
print(new_df)

   Unnamed: 0      Words                                          Embedding
0           0       Lily  [-0.004466678693838176, 0.000942190066085319, ...
1           1    Jasmine  [-0.01497389031026014, -0.013925186743575284, ...
2           2  Sunflower  [-0.014984716244029191, -0.014499277373873075,...
3           3      Lotus  [-0.013895569488808029, -0.008800969876329272,...
4           4     Tennis  [-0.023068435609869042, 0.001618754709159776, ...
5           5   Elephant  [-0.018878312423034248, -0.008599258796030004,...
6           6      Tiger  [-0.01350113474231467, -0.009632539697974462, ...
7           7        Dog  [-0.0008610776191312783, -0.015141254049242214...
8           8        Bat  [-0.011311637893170206, -0.012729854012568048,...
9           9       Ball  [-0.015197524563590347, -0.002411533109441028,...

In [8]:
our_Text = "Rose"

In [9]:
text_embedding = embeddings.embed_query(our_Text)

In [11]:

import numpy as np
#Creating a function which will help us with finding the cosine_similarity score
def cosine_similarity(a, b):
    return np.dot(a, b) / (np.linalg.norm(a) * np.linalg.norm(b))

df["similarity score"] = df['Embedding'].apply(lambda x: cosine_similarity(x, text_embedding))

df

,Words,Embedding,similarity score
0,Lily,"[-0.004466678693838176, 0.000942190066085319, ...",0.842131
1,Jasmine,"[-0.01497389031026014, -0.013925186743575284, ...",0.838326
2,Sunflower,"[-0.014984716244029191, -0.014499277373873075,...",0.818167
3,Lotus,"[-0.013895569488808029, -0.008800969876329272,...",0.818776
4,Tennis,"[-0.023068435609869042, 0.001618754709159776, ...",0.784244
5,Elephant,"[-0.018878312423034248, -0.008599258796030004,...",0.783681
6,Tiger,"[-0.01350113474231467, -0.009632539697974462, ...",0.803760
7,Dog,"[-0.0008610776191312783, -0.015141254049242214...",0.810653
8,Bat,"[-0.011311637893170206, -0.012729854012568048,...",0.814090
9,Ball,"[-0.015197524563590347, -0.002411533109441028,...",0.815880

In [12]:
df.sort_values("similarity score", ascending=False).head(10)

,Words,Embedding,similarity score
0,Lily,"[-0.004466678693838176, 0.000942190066085319, ...",0.842131
1,Jasmine,"[-0.01497389031026014, -0.013925186743575284, ...",0.838326
3,Lotus,"[-0.013895569488808029, -0.008800969876329272,...",0.818776
2,Sunflower,"[-0.014984716244029191, -0.014499277373873075,...",0.818167
9,Ball,"[-0.015197524563590347, -0.002411533109441028,...",0.815880
8,Bat,"[-0.011311637893170206, -0.012729854012568048,...",0.814090
7,Dog,"[-0.0008610776191312783, -0.015141254049242214...",0.810653
6,Tiger,"[-0.01350113474231467, -0.009632539697974462, ...",0.803760
4,Tennis,"[-0.023068435609869042, 0.001618754709159776, ...",0.784244
5,Elephant,"[-0.018878312423034248, -0.008599258796030004,...",0.783681